<h1>Proposta de Orçamento</h1>

<div>Valor: R$<%= @invoice.final_price %></div>
<div>Mais detalhes: <%= @invoice.description if @invoice.description.present? %> </div>
<div>Data limite para confirmação: <%= I18n.localize @invoice.expiration_date %></div>
