<h1>Pedidos</h1>

<div id="orders">

  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <div id="order">
        <%= link_to order.code, order %>
        <%= order.event_date %>
      </div>
    <% end %>
  <% else %>
    <h3>Ainda não recebeu nenhum pedido!</h3>
  <% end %>

</div>
