<h1>Escolha o evento</h1>

<div id="events">
  <% @events.each do |event| %>
    <% buffet_id = event.buffet.id %>
      <%= link_to new_order_path(event_type_id: event.id, buffet_id: buffet_id) do %>
        <div id="event">
          <%= event.name %>
          <%# event.photos.first %>
        </div>
    <% end %>
  <% end %>
</div>
